<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/vehicles">
      <img alt="Bootstrap" src="assets/Pirelli_logo.svg" width="150">
    </a>

    <button
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-bs-target="#navbarNav"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active"
          >
            About
          </a>
        </li>
        <li *ngIf="authService.isLoggedIn" class="nav-item d-flex">
          <a (click)="authService.logout()" class="nav-link"
             role="button">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-loader></app-loader>

<div class="p-3">
  <router-outlet/>
</div>


