<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1 class="mb-3">Ops!</h1>
        <h3 class="mb-3">404 Page not found.</h3>
        <div class="error-details mb-3">
          We're sorry, but the page you are looking for does not exist or has been removed.
        </div>
        <div class="error-actions">
          <a class="btn btn-dark btn-lg" routerLink="/">Go back</a>
        </div>
      </div>
    </div>
  </div>
</div>
